<h1>Books</h1>
<% @lists.each do |list| %>
  <h4>Title</h4>
  <span><%= list.title %></span>

  <h4>Body</h4>
  <span><%= list.body %></span>

<%= link_to "Show", list_path(list) %>
<%= link_to "Destroy", destroy_list_path(list), method: :delete, "data-confirm" => "Are you sure?" %>

<% end %>

<h2>New book</h2>
<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました。
  <ur>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ur>
<% end %>

<%= form_with model: @list, url: '/lists', method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>