<h1>Books</h1>
<% @lists.each do |list| %>
  <h4>Title</h4>
  <span><%= list.title %></span>

  <h4>Body</h4>
  <span><%= list.body %></span>

  <span><%= link_to "Show", list_path(list.id) %></span>
<% end %>

<h2>New book</h2>
<%= form_with model: @list, url: '/lists', method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>